<html lang="en">
<head>
    <title>Confeti</title>
    <link rel="icon" href="../../Images/icon.png">
    <link rel="stylesheet" href="../../Style/index.css">
    <script src="https://kit.fontawesome.com/8e785e1f4e.js" crossorigin="anonymous"></script>
    <script type="module" src="/Model/Proveedor.js" ></script>
</head>

<body>
    <div class="red">
        <div id="instagram">
          <a href="https://www.instagram.com/confeti_con_fiesta/" target="none" class="fa-brands fa-instagram"></a>
        </div>
        <div id="email">
            <a href="mailto:confeti.confiesta00@gmail.com" target="none" class="fa-solid fa-envelope"></a>
          </div>
    </div>
    
    <input type="checkbox" id="check">
    <nav>
        <div class="icon"> 
            <a href="main.html"> <img src="../../Images/logo.png" alt="Logo Confeti" width="100" height="70"> </a>
            <a href="main.html"> <img src="../../Images/textNomEsl.png" alt="Confeti" width="280" height="60" id="imgLogo"> </a>
        </div>

        <div class="searchBox">
            <div id="searchBar">
                <input type="search" placeholder="Search here" id="search">
                <span class="fa fa-search"></span>
            </div>
            <select id="suggestionsSearch" size="5">
            </select>
        </div>

        <ol id="dropMenu">
            <div class="userMenu">
                <ul>
                    <i class=></i>
                    <li id="menu">Menú usuario <i class="fa fa-angle-down"></i>
                        <ul>
                            <li onclick="window.location='userProfile.html'">Mi perfil <span class="fa-solid fa-user"></span></li>
                            <li id="ventas">Mis ventas</li>
                            <li id="verCarrito">Ver carrito <span class="fa-solid fa-cart-shopping"></span></li>
                            <li id="encargos">Ver encargos</li>
                            <li onclick="window.location='modifyPwd.html'">Cambiar contraseña</li>
                            <li onclick="window.location='modifyEmail.html'">Cambiar correo</li>
                            <li id="favoritos">Favoritos <span class="fa-solid fa-heart"></span></li>
                            <li id="premium"> Plan premium <span class="fa-solid fa-crown" style="color: #dbad09;"></span></li>
                            <li id="LogOut">Cerrar sesión <span class="fa-solid fa-right-from-bracket"></span></li>
                        </ul>
                   </li>
                </ul>
            </div>
        </ol>
        <ol id="listMenu">
            <li id="Miperfil"><a href="userProfile.html">Mi perfil<span class="fa-solid fa-user"></span></a></span></li>
            <li id="MisVentas"><a href="ventas.html">Mis ventas</a></li>
            <li id="Carrito"><a href="carrito.html">Ver carrito<span class="fa-solid fa-cart-shopping"></span></a></li>
            <li id="VerEncargos"><a href="encargos.html">Ver encargos</a></li>
            <li id="CambiarPass"><a href="modifyPwd.html">Cambiar contraseña</a></li>
            <li id="CambiarEmail"><a href="modifyEmail.html">Cambiar correo</a></li>
            <li id="Favoritos"><a href="favoritos.html">Favoritos<span class="fa-solid fa-heart"></span></a></li>
            <li id="premium"><a href="premium.html">Plan premium<span class="fa-solid fa-crown" style="color: #dbad09;"></span></a></li>
            <li id="LogOut"><a href="">Cerrar sesión <span class="fa-solid fa-right-from-bracket"></span></a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    
    <main>
        <div class="column1" id="column1" name="column1">
            <a href=""><h1 class="anuncio1" id="anuncio1">Anuncio 1</h1></a>
        </div>

        <div class="column2" id="column2" name="column2">
            <a href=""><h1 class="anuncio2" id="anuncio2">Anuncio 2</h1></a>
        </div>

        <div class="content"> 

        </div>
    </main>

    <footer>
        <div class="footerSection">
            <section class="confeti">
                <img src="../../Images/logo.png" alt="Logo Confeti" width="100" height="70">
                <section>
                    <h3>Confeti con-Fiesta</h3>
                    <p>Al servicio de tus eventos</p>
                </section>
            </section>
            <section class="contact">
                <h3>Medios de contacto:</h3>
                <ul>
                    <li> <span class="fa-brands fa-whatsapp"></span><a href="https://api.whatsapp.com/send?phone=+529212989328&text=Hola, Necesito mas informacion!" target="none">921-298-9328</a></li>
                    <li> <span class="fa-solid fa-envelope"></span><a href="mailto:confeti.confiesta00@gmail.com" target="none"> confeti.confiesta00@gmail.com </a></li>
                </ul>
            </section>
            <section class="aboutUs">
                <h3>Presentación</h3>
                <ul>
                    <li><a href="aboutUs.html">Misión y Visión</a></li>
                    <li><a href="aboutUs.html">Politicas de privacidad</a></li>
                    <li><a href="aboutUs.html">Terminos y condiciones</a></li>
                </ul>
            </section>
        </div>
    </footer>
</body>
</html>