<html lang="en">
<head>
    <title>Confeti</title>
    <link rel="icon" href="../../Images/icon.png">
    <link rel="stylesheet" href="../../Style/index.css">
    <link rel="stylesheet" href="../../Style/cards.css">
    <link rel="stylesheet" href="../../Style/buttons.css">
    <script src="https://kit.fontawesome.com/8e785e1f4e.js" crossorigin="anonymous"></script>
    <script type="module" src="../../../Model/filtroBusqueda.js"></script>
    <script type="module" src="/Model/Usuario.js" ></script>
</head>

<body>
    <div class="red">
        <div id="instagram">
          <a href="https://www.instagram.com/confeti_con_fiesta/" target="none" class="fa-brands fa-instagram"></a>
        </div>
        <div id="email">
            <a href="mailto:confeti.confiesta00@gmail.com" target="none" class="fa-solid fa-envelope"></a>
          </div>
    </div>
    
    <input type="checkbox" id="check">
    <nav>
        <div class="icon"> 
            <a href="main.html"> <img src="../../Images/logo.png" alt="Logo Confeti" width="100" height="70"> </a>
            <a href="main.html"> <img src="../../Images/textNomEsl.png" alt="Confeti" width="280" height="60" id="imgLogo"> </a> 
        </div>
        <div class="searchBox">
            <div id="searchBar">
                <input type="search" placeholder="Search here" id="search">
                <span class="fa fa-search"></span>
            </div>
            <select id="suggestionsSearch" size="5">
            </select>
        </div>
        <ol id="dropMenu">
            <div class="userMenu">
                <ul>
                    <i class=></i>
                    <li>Menú usuario <i class="fa fa-angle-down"></i>
                        <ul>
                            <li onclick="location.href='userProfile.html'">Mi perfil <span class="fa-solid fa-user"></span></li>
                            <li onclick="location.href='encargos.html'">Ver encargos</li>
                            <li onclick="location.href='carrito.html'">Ver carrito <span class="fa-solid fa-cart-shopping"></span></li>
                            <li onclick="location.href='modifyPwd.html'">Cambiar contraseña</li>
                            <li onclick="location.href='modifyEmail.html'">Cambiar correo</li>
                            <li onclick="location.href='volverseProveedor.html'">Volverse proveedor</li>
                            <li onclick="location.href='favoritos.html'">Favoritos <span class="fa-solid fa-heart"></span></li>
                            <li onclick="location.href='premium.html'"> Plan premium <span class="fa-solid fa-crown" style="color: #dbad09;"></span></li>
                            <li id="LogOut">Cerrar sesión <span class="fa-solid fa-right-from-bracket"></span></li>
                        </ul>
                   </li>
                </ul>
            </div>
        </ol>
        <ol id="listMenu">
            <li><a href="userProfile.html">Mi perfil<span class="fa-solid fa-user"></span></a></span></li>
            <li><a href="encargos.html">Ver encargos</a></li>
            <li><a href="carrito.html">Ver carrito<span class="fa-solid fa-cart-shopping"></span></a></li>
            <li><a href="modifyPwd.html">Cambiar contraseña</a></li>
            <li><a href="modifyEmail.html">Cambiar correo</a></li>
            <li><a href="volverseProveedor.html">Volverse proveedor</a></li>
            <li><a href="favoritos.html">Favoritos<span class="fa-solid fa-heart"></span></a></li>
            <li><a href="premium.html">Plan premium<span class="fa-solid fa-crown" style="color: #dbad09;"></span></a></li>
            <li id="LogOut"><a href="">Cerrar sesión <span class="fa-solid fa-right-from-bracket"></span></a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    
    <main>
        <div class="column1" id="column1" name="column1">
            <a href=""><h1 class="anuncio1" id="anuncio3">Anuncio 1</h1></a>
        </div>

        <div class="column2" id="column2" name="column2">
            <a href=""><h1 class="anuncio2" id="anuncio4">Anuncio 2</h1></a>
        </div>

        <div class="content" id="premiumCont"> 
            <div class="premiumCard" id="gratis">
                <span class="fa-solid fa-users" style="color: #ffffff;"></span>
                <h2>Plan gratuito</h2>
                <u>
                    <li>Contratación de servicios</li>
                    <li>Atención y asesoramiento personalizado</li>
                </u>
            </div>

            <div class="premiumCard" id="usuarioPremium">
                <span class="fa-solid fa-crown fa-bounce" style="color: #dbad09;"></span>
                <h2>Plan premium</h2>
                <u>
                    <li>Contratación de servicios</li>
                    <li>Atención y asesoramiento personalizado</li>
                    <li>Mayor visibilidad y exposición en la pagina</li>
                    <li>Navegación libre de publicidad</li>
                    <li>Acceso a puntos Confeti</li>
                </u>
                <button class="btnPremium" id="btnPremium" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                        <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
                    </svg>
                    Hazte premium
                </button>

                <button class="btnPremium" id="btnPuntos" type="submit">
                    Canjear puntos
                </button>
            </div>

        </div>
    </main>

    <dialog id="puntos" >
        <div class="modalHead">
            <h1>Canjear puntos</h1>
        </div>
        <div class="modalBody">
            <h2>Necesitas 1000 puntos</h2>
            <div id="bodyPuntos">
                <h2>Tienes: </h2>
                <h2 id="puntosUsuario"></h2>
            </div>
        </div>       
        <div class="modalBtn">
            <button class="btnPremium" id="canjearPuntos" type="submit">
                Canjear puntos
            </button>
            <button class="btnCancelar" id="cancelar" type="submit">
                Cancelar
            </button>
        </div>     
    </dialog>

    <dialog id="pagos" style="display: none;">
        <div class="modalHead">
            <h1>Elegir metodo de pago</h1>
        </div>

        <div class="modalBody">
            <div class="metodoPago" id="metodoPago">
                <div class="radio-container">

                    <div class="radio-wrapper" id="paypalOption">
                      <label class="radio-button">
                        <input type="radio" name="radio-group" id="option1" value="paypal">
                        <span class="radio-checkmark" id="paypal-checkmark"></span>
                        <div id="paypal">
                            <span class="cuenta" id="pay">Pay</span>
                            <span class="cuenta" id="pal">pal</span>
                        </div>
                      </label>
                    </div>

                    <div class="radio-wrapper" id="mercadoOption">
                      <label class="radio-button">
                        <input type="radio" name="radio-group" id="option2" value="mercadoPago">
                        <span class="radio-checkmark" id="mercado-checkmark"></span>
                        <div>
                            <span class="cuenta" id="mercado">Mercado</span>
                            <span class="cuenta" id="pago">pago</span>
                        </div>
                      </label>
                    </div>
                </div>
            </div>
            <div id="total">
                <h2>Total de pago: </h2>
                <h2 class="precio" id="totalPagar"> </h2>
            </div>
        </div>    

        <div class="modalBtn">
            <button class="btnPremium" id="btnComprar" type="submit">
                Comprar
            </button>
            <button class="btnCancelar" id="cancelar" type="submit">
                Cancelar
            </button>
        </div>     
    </dialog>

    <dialog id="mensaje" style="display: none;">
        <div class="modalHead" id="alert">
            <h1>Función no implementada</h1> <span class="fa-solid fa-triangle-exclamation" id="alert"></span>
        </div>

        <div class="modalBody">
            
            <h2>Lo sentimos mucho,</h2>
            <h2>por el momento esta función</h2>
            <h2>se encuentra en desarrollo</h2>
        </div>    

        <div class="modalBtn">
            <button class="btnPremium" id="aceptar" type="submit">
                Aceptar
            </button>
        </div>     
    </dialog>

    <footer>
        <div class="footerSection">
            <section class="confeti">
                <img src="../../Images/logo.png" alt="Logo Confeti" width="100" height="70">
                <section>
                    <h3>Confeti con-Fiesta</h3>
                    <p>Al servicio de tus eventos</p>
                </section>
            </section>
            <section class="contact">
                <h3>Medios de contacto:</h3>
                <ul>
                    <li> <span class="fa-brands fa-whatsapp"></span><a href="https://api.whatsapp.com/send?phone=+529212989328&text=Hola, Necesito mas informacion!" target="none">921-298-9328</a></li>
                    <li> <span class="fa-solid fa-envelope"></span><a href="mailto:confeti.confiesta00@gmail.com" target="none"> confeti.confiesta00@gmail.com </a></li>
                </ul>
            </section>
            <section class="aboutUs">
                <h3>Presentación</h3>
                <ul>
                    <li><a href="aboutUs.html">Misión y Visión</a></li>
                    <li><a href="aboutUs.html">Politicas de privacidad</a></li>
                    <li><a href="aboutUs.html">Terminos y condiciones</a></li>
                </ul>
            </section>
        </div>
    </footer>
</body>
</html>