<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confeti</title>
    <link rel="icon" href="../../Images/icon.png">
    <link rel="stylesheet" href="../../Style/index.css">
    <link rel="stylesheet" href="../../Style/deatilService.css">
    <script src="https://kit.fontawesome.com/8e785e1f4e.js" crossorigin="anonymous"></script>
    <script type="module" src="../../../Model/filtroBusqueda.js"></script>
    <script type="module" src="../../../Model/datosServicio.js" ></script>
    <script type="module" src="../../../Model/detalleContrato.js" ></script>
    <script type="module" src="../../../Model/Usuario.js"></script>
</head>


<body>
    <div class="red">
        <div id="instagram">
          <a href="https://www.instagram.com/confeti_con_fiesta/" target="none" class="fa-brands fa-instagram"></a>
        </div>
        <div id="email">
          <a href="mailto:confeti.confiesta00@gmail.com" target="none" class="fa-solid fa-envelope"></a>
        </div>
    </div>
    
    <input type="checkbox" id="check">
    <nav>
        <div class="icon"> 
            <a href="main.html"> <img src="../../Images/logo.png" alt="Logo Confeti" width="100" height="70"> </a>
            <a href="main.html"> <img src="../../Images/textNomEsl.png" alt="Confeti" width="280" height="60" id="imgLogo"> </a>
        </div>

        <div class="searchBox">
            <div id="searchBar">
                <input type="search" placeholder="Search here" id="search">
                <span class="fa fa-search"></span>
            </div>
            <select id="suggestionsSearch" size="5">
            </select>
        </div>

        <div class="icon" id="premiumIcon"> 
            <a href="premium.html"> <img id="imgPremium" src="../../Images/premium.png" alt="Logo Confeti" width="70" height="60"> </a>
        </div>

        <ol id="dropMenu">
            <div class="userMenu" id="menuPremium">
                <ul>
                    <li>Menú usuario <i class="fa fa-angle-down"></i>
                        <ul>
                            <li id="menuPremium" onclick="location.href='userProfile.html'">Mi perfil <span class="fa-solid fa-user" style="color: #dbb309;"></span></li>
                            <li id="menuPremium" onclick="location.href='carrito.html'">Ver carrito <span class="fa-solid fa-cart-shopping"></span></li>
                            <li id="menuPremium" onclick="location.href='encargos.html'">Ver encargos<span class="fa-sharp fa-solid fa-gifts"></span></li>
                            <li id="menuPremium" onclick="location.href='volverseProveedor.html'">Volverse proveedor<span class="fa-solid fa-user-tie"></span></li>
                            <li id="menuPremium" onclick="location.href='modifyPwd.html'">Cambiar contraseña <span class="fa-sharp fa-solid fa-lock"></span></li>
                            <li id="menuPremium" onclick="location.href='modifyEmail.html'">Cambiar correo <span class="fa-solid fa-envelope"></span></li>
                            <li id="menuPremium" onclick="location.href='favoritos.html'">Favoritos <span class="fa-solid fa-heart" style="color: red;"></span></li>
                            <li id="LogOut" onclick="location.href='../../main.html'">Cerrar sesión <span class="fa-solid fa-right-from-bracket"></span></li>
                        </ul>
                   </li>
                </ul>
            </div>
        </ol>
        <ol id="listMenu">
            <li><a href="userProfile.html">Mi perfil <img src="../../Images/premium.png" alt="Logo Confeti" width="50" height="50"></a></li>
            <li><a href="carrito.html">Ver carrito<span class="fa-solid fa-cart-shopping"></span></a></li>
            <li><a href="encargos.html">Ver encargos<span class="fa-sharp fa-solid fa-gifts"></span></a></li>
            <li><a href="volverseProveedor.html">Volverse proveedor<span class="fa-solid fa-user-tie"></span></a></li>
            <li><a href="modifyPwd.html">Cambiar contraseña<span class="fa-sharp fa-solid fa-lock"></span></a></li>
            <li><a href="modifyEmail.html">Cambiar correo<span class="fa-solid fa-envelope"></span></a></li>
            <li><a href="favoritos.html">Favoritos<span class="fa-solid fa-heart" style="color: red;"></span></a></li>
            <li id="LogOut"><a href="">Cerrar sesión <span class="fa-solid fa-right-from-bracket"></span></a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    
    <main>
        <div class="column1" id="column1P" name="column1">
            <a href=""><h1 class="anuncio1" id="anuncio1">Anuncio 1</h1></a>
        </div>

        <div class="column2" id="column2P" name="column2">
            <a href=""><h1 class="anuncio2" id="anuncio2">Anuncio 2</h1></a>
        </div>

        <div class="content" id="contentP">
            <div class="detailHead">
                <div class="perfilServ" id="perfilServ" name="perfilServ">
                    <img src="" id="imgServ" name="imgServ">
                </div>
               <!--Rating-->
                <div class="rating">
                    <label for="star-1">
                        <input type="radio" id="star-1" name="star-radio" value="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
                    </label>
                    <label for="star-2">
                        <input type="radio" id="star-2" name="star-radio" value="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
                    </label>
                    <label for="star-3">
                        <input type="radio" id="star-3" name="star-radio" value="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
                    </label>
                    <label for="star-4">
                        <input type="radio" id="star-4" name="star-radio" value="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
                    </label>
                    <label for="star-5">
                        <input type="radio" id="star-5" name="star-radio" value="star-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
                    </label>
                </div>
           </div>

            <div class="detailInf">
                <div id="serviceHead">
                    <h1 id="servName" name="servName">  </h1>
                    <input id="toggle-heart" type="checkbox"><label for="toggle-heart" aria-label="like">❤</label>
                </div>
                <h2> <a href="" id="proveedor" name="proveedor">  </a></h2>
                <h2 id="direccion" name="direccion">  </h2>
                <p id="descripcion" name="descripcion">  </p>
            </div>

            <div class="gallery">
                <div class="photos-wrapper">
                     <div class="photos-scroll">
                         <div class="photos">
                             <div class="fotoServ" id="foto01">
                                 <img src=""/>
                             </div>
                             <div class="fotoServ" id="foto02">
                                 <img src=""/>
                             </div>
                             <div class="fotoServ" id="foto03">
                                 <img src=""/>
                             </div>
                             <div class="fotoServ" id="foto04">
                                 <img src=""/>
                             </div>
                             <div class="fotoServ" id="foto05">
                                 <img src=""/>
                             </div>
                             <div class="fotoServ" id="foto06">
                                 <img src=""/>
                             </div>
                         </div>
                     </div>
               </div>
            </div>

           <div class="detail">
               <table class="serviceTable">
                    <thead>
                        <tr>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="links">
                                    <a href="#">&laquo;</a> 
                                    <a class="active" href="#">1</a> 
                                    <a href="#">2</a> 
                                    <a href="#">3</a> 
                                    <a href="#">4</a> 
                                    <a href="#">&raquo;</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td id="precio1" name="cell1_1"></td>
                            <td id="cantidad1" name="cell2_1"></td>
                            <td id="unidad1" name="cell3_1"></td>
                            <td id="botones1" name="cell4_1" style="display: none;"> 
                                <a class="btnCart" type="submit" id="btnCart1" name="btnCart" title="Agregar al carrito">
                                    <span class="fa-sharp fa-solid fa-cart-shopping"></span>
                                </a>
                                <a class="btnContract" type="submit" id="btnContract1" name="btnContract" title="Contratar">
                                    <span class="fa-sharp fa-solid fa-file-signature"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="precio2" name="cell1_2"></td>
                            <td id="cantidad2" name="cell2_2"></td>
                            <td id="unidad2" name="cell3_2"></td>
                            <td id="botones2" name="cell4_2" style="display: none;"> 
                                <a class="btnCart" type="submit" id="btnCart1" name="btnCart" title="Agregar al carrito">
                                    <span class="fa-sharp fa-solid fa-cart-shopping"></span>
                                </a>
                                <a class="btnContract" type="submit" id="btnContract1" name="btnContract" title="Contratar">
                                    <span class="fa-sharp fa-solid fa-file-signature"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="precio3" name="cell1_3"></td>
                            <td id="cantidad3" name="cell2_3"></td>
                            <td id="unidad3" name="cell3_3"></td>
                            <td id="botones3" name="cell4_3" style="display: none;"> 
                                <a class="btnCart" type="submit" id="btnCart" name="btnCart" title="Agregar al carrito">
                                    <span class="fa-sharp fa-solid fa-cart-shopping"></span>
                                </a>
                                <a class="btnContract" type="submit" id="btnContract" name="btnContract" title="Contratar">
                                    <span class="fa-sharp fa-solid fa-file-signature"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="precio4" name="cell1_4"></td>
                            <td id="cantidad4" name="cell2_4"></td>
                            <td id="unidad4" name="cell3_4"></td>
                            <td id="botones4" name="cell4_4" style="display: none;">  
                                <a class="btnCart" type="submit" id="btnCart" name="btnCart" title="Agregar al carrito">
                                    <span class="fa-sharp fa-solid fa-cart-shopping"></span>
                                </a>
                                <a class="btnContract" type="submit" id="btnContract" name="btnContract" title="Contratar">
                                    <span class="fa-sharp fa-solid fa-file-signature"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
           </div>

           <div class="detailTags">
                    <a id="tag1" name="tag1"></a> 
                    <a id="tag2" name="tag2"></a>
                    <a id="tag3" name="tag3"></a>
                    <a id="tag4" name="tag4"></a>
                    <a id="tag5" name="tag5"></a> 
                    <a id="tag6" name="tag6"></a>
           </div>
           
           <div class="comments">
            <h6>Reseñas: </h6>
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list" style="display: none;">
                        <!--Comentario con foto-->
                        <li>  
                            <div class="comment-main-level" id="conFoto" name="conFoto">
                                <!-- Avatar -->
                                <div class="comment-avatar" id="fotoPerfil" name="fotoPerfil">
                                    <img src="">
                                </div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box" id="commentBox">
                                    <div class="comment-head" id="commentHead">
                                        <h6 class="comment-name by-author" id="usuarioAutor" name="usuarioAutor"> </h6>
                                    </div>
                                    <div class="comment-content" id="comentario" name="comentario">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--Comentario sin foto de perfil-->
                        <li>
                            <div class="comment-main-level" id="sinFoto" name="sinFoto" style="display: none;">
                                <!-- Avatar -->
                                <div class="comment-avatar">
                                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_1280.png">
                                </div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box" id="commentBox">
                                    <div class="comment-head" id="commentHead">
                                        <h6 class="comment-name by-author" id="usuarioAutor" name="usuarioAutor"> </h6>
                                    </div>
                                    <div class="comment-content" id="comentario" name="comentario">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
           </div>
       </div>
    </main>
    
    <footer>
        <div class="footerSection">
            <section class="confeti">
                <img src="../../Images/logo.png" alt="Logo Confeti" width="100" height="70">
                <section>
                    <h3>Confeti con-Fiesta</h3>
                    <p>Al servicio de tus eventos</p>
                </section>
            </section>
            <section class="contact">
                <h3>Medios de contacto:</h3>
                <ul>
                    <li> <span class="fa-brands fa-whatsapp"></span><a href="https://api.whatsapp.com/send?phone=+529212989328&text=Hola, Necesito mas informacion!" target="none">921-298-9328</a></li>
                    <li> <span class="fa-solid fa-envelope"></span><a href="mailto:confeti.confiesta00@gmail.com" target="none"> confeti.confiesta00@gmail.com </a></li>
                </ul>
            </section>
            <section class="aboutUs">
                <h3>Presentación</h3>
                <ul>
                    <li><a href="aboutUs.html">Misión y Visión</a></li>
                    <li><a href="aboutUs.html">Politicas de privacidad</a></li>
                    <li><a href="aboutUs.html">Terminos y condiciones</a></li>
                </ul>
            </section>
        </div>
    </footer>
</body>
</html>